.service-details-section {
  box-sizing: border-box;
  padding: 50px 0px;
  height: calc(100vh - 60px);
  background: #f4f0ed;
}
.service-details-img-section {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-details-section img {
  width: 80%;
  max-width: 1000px;
}
.service-details-section p {
  line-height: 40px;
}
