.service-detail-section {
  box-sizing: border-box;
  padding: 50px 0px;
  min-height: calc(100vh - 60px);
  text-align: center;
  background: #f4f0ed;
}
.service-detail-section-title {
  padding-bottom: 30px;
  font-size: 25px;
  letter-spacing: 3px;
  text-align: center;
}
.service-detail-img-section,
.serviceDetail-loading-section {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-detail-section img {
  width: 80%;
  max-height: 100%;
  max-width: 500px;
}
.service-detail-section p {
  line-height: 40px;
}
