.add-service-card-section {
  margin: 20px 10px;
  width: 300px;
  height: 420px;
  font-size: 20px;
  text-align: center;
  border: 1px solid #0000001a;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.add-service-card-section:hover {
  box-shadow: 2px 2px 10px 2px #0000001a;
}
.add-service-icon {
  margin-bottom: 10px;
  color: black;
  font-size: 40px;
}

/* Form Modal Styles */
.modal-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 90;
  background-color: rgba(255, 255, 255, 0.096);
  backdrop-filter: blur(2px);
  cursor: pointer;
  display: none;
}
.modal {
  width: 450px;
  z-index: 99;
  left: 50%;
  top: 50%;
  position: absolute;
  border-radius: 5px;
  background-color: var(--primary);
  transform: translateX(-50%) translateY(-50%);
  border: 3px solid;
  border-image-slice: 1;
  border-width: 3px;
  border-image-source: linear-gradient(to left, var(--lightblue), var(--blue));
}

.modal .modal-title {
  padding: 2rem;
  color: var(--light);
  font-size: 1.4rem;
}

.modal .modal-body {
  padding: 2rem;
}

.modal form {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
}

.modal-close {
  width: 24px;
  height: 24px;
  display: grid;
  place-content: center center;
  background: #eee;
  border-radius: 100%;
  color: var(--dark);
  text-decoration: none;
  font-size: 3rem;
  transform: rotate(45deg);
  position: absolute;
  right: -8px;
  top: -8px;
}
.modal-close:active {
  transform: scale(0.95) rotate(45deg);
  background-color: var(--red);
  color: #fff;
}
