.navbar {
  position: sticky;
  top: 0;
  background: white;
  overflow: hidden;
  width: 100%;
}
.header-section {
  padding: 20px 0px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header-left-section {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
}
.header-right-section a {
  padding-left: 20px;
}
